<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
<py:def function="page_title">Document references</py:def>

<div py:match="content">
<h1>Holding Page for ${c.docid}</h1>

<py:if test="c.message">
  <p>${c.message}</p>
</py:if>

<p py:if="c.document" style="text-align: center; padding-bottom: 2em; padding-top: 2em;">
  <a class="pdfview" href="/pdf/${c.docidq}.pdf">
    <img style="vertical-align: sub;" src="pdficon_large.png" alt="(PDF)" border="0"/>
    View PDF document
  </a>
</p>

<p>This is a holding page for the official document with 
  <a href="http://en.wikipedia.org/wiki/United_Nations_Document_Codes">code</a> 
  <i><b>${c.docid}</b></i>.
  The United Nations does not enable direct links to most of their documents.
</p>

<p style="padding-top: 0.5em;">Using this webpage, you can --</p>
<ul class="d">
  <li py:if="c.document" class="d"><a href="/pdf/${c.docidq}.pdf">View as PDF</a></li>
  <li py:if="c.document and c.document.docmodifiedtime" class="d">Document modified: ${c.document.docmodifiedtime}.</li>
  <li py:if="c.meeting and c.body == 'SC'" class="d">
    <b>Go to 
      <a href="${h.url_for('scmeeting', scmeetingnumber=c.meeting.meetingnumber)}">parsed HTML</a> of meeting</b>: ${c.document.meetings[0].title}
  </li>
  <li py:if="c.meeting and c.body == 'GA'" class="d">
    <b>Go to 
      <a href="${h.url_for('gameeting', session=c.meeting.session, meeting=c.meeting.meetingnumber)}">parsed HTML</a> of meeting</b>: ${c.document.meetings[0].title}
  </li>

  <py:if test="c.document and c.document.numpages">
  <li class="d">Or click on one of the ${c.document.numpages} individual pages--</li>
  <li class="d">
    <py:for each="page in range(1, min(c.document.numpages, 20))">
      <a href="${h.url_for('documentpage', docid=c.docid, page=page)}">Page ${page}</a>, 
    </py:for>
    <py:if test="c.document.numpages > 21">..., </py:if>
    <a href="${h.url_for('documentpage', docid=c.docid, page=c.document.numpages)}">Page ${c.document.numpages}</a>. 
  </li>
  </py:if>
	
  <li py:if="not c.document" class="d">No document available on the eu-ok server.  Click <a href="${h.url_for('documentspecscrape', docid=c.docid)}"><b>here</b></a> to try and request it.</li>
  
  <li class="d">Try linking directly to 
    <a href="http://www.un.org/Docs/journal/asp/ws.asp?m=${c.docidq.replace('-', '/')}">
      http://www.un.org/Docs/journal/asp/ws.asp?m=${c.docid.replace('-', '/')}
    </a>
  </li>
  <li class="d"><a href="http://www.un.org/documents/">UN Documentation Centre</a></li>
  <li class="d">See all <a href="http://www.undemocracy.com/securitycouncil/documents">Security Council documents</a>.</li>
  <li class="d">Ready-made <a href="http://en.wikipedia.org/wiki/Help:Footnotes">wikipedia link</a> 
    using <a href="http://en.wikipedia.org/wiki/Template:UN_document">Template:UN_document</a>: 
    <textarea style="" readonly="readonly">&lt;ref&gt;{{ UN document |docid=${c.docid} |type=${c.doctype} |body=${c.longbody}<py:if test="c.resolution_number"> |resolution_number=${c.resolution_number}</py:if> |accessdate= ${h.todaydate()} }}&lt;/ref&gt;</textarea>
  </li>
</ul>

${c.message}
<h2>References to this document</h2>
<table py:if="c.document" class="docrefs">
<tr py:for="meeting in c.document.meeting_citations">
  <td>${meeting.datetime}</td>
  <td><a href="${h.url_for_doc(meeting.docid)}#${meeting.href}">${h.truncate(meeting.title, 60)}</a></td>
</tr>
</table>

</div>
<xi:include href="layout.html" />
</html>

