<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  
<py:def function="page_title">Undemocracy Front page</py:def>
<div py:match="content">

<h1>
  <form id="searchform" action="/" method="get">
    <input type="text" name="search"/>
    <button>Search</button>
  </form>
  Front page
</h1>

<div id="thinbar">
  <a href="${h.url_for('nations')}">Browse all nations</a>
  | <a href="${h.url_for('documentsall')}">Featured documents</a>
  | <a href="${h.url_for('nations')}">Latest wikipedia citations</a>
</div>


<div id="defofun">
<p>
  <b>This website</b> helps you find out what happens in two of the five principal 
  <a href="http://en.wikipedia.org/wiki/United_Nations_System"><b>United Nations bodies</b></a>.
</p>  
<ul>
  <li>
     The <a href="http://en.wikipedia.org/wiki/United_Nations#General_Assembly"><b>General Assembly</b></a>
     directs the business of the United Nations and recommends international treaties.
  </li>
  <li>
    The <a href="http://en.wikipedia.org/wiki/United_Nations#Security_Council"><b>Security Council</b></a> 
    can authorize war and international sanctions.
  </li>
</ul>
<p>
  Find out what <a href="/nations" title="List all nations and their ambassadors who speak"><b>your nation</b></a> 
  has been doing in this international forum.
</p>
</div>
             
<div style="width:200;  text-align:center; background-color:blue; color:white; border:thick black dashed; float:right">A proud member of the 
  <a href="http://en.wikipedia.org/wiki/Parliamentary_informatics" style="background-color:#cdffff">Parliamentary Informatics</a> web-ring</div>

<p>
  <b style="background:#b3f1d7;">The third column</b> lists recent visits from Wikipedia readers.  
  <i><b>Go here first if you are unfamiliar with the United Nations--</b> it's the easiest way to learn about these 
  documents in their broader context.</i>
</p>
<p style="margin-bottom:1em; margin-top:1em">
  <b>Note</b>: While Security Council meetings are on-line within 
  hours, General Assembly transcripts go on-line three months after
  the actual meeting (although the videos are up immediately).
</p>

<div id="sectors">

<div id="securitycouncil">
  <h2>The Security Council</h2>
  <p><a href="${h.url_for('sctopics')}">Meetings by topic</a> or <a href="${h.url_for('documentsall')}">All</a></p>
  <table>
    <tr><td colspan="3">Recent Security Council Meetings (last few)</td></tr>
    <tr py:for="scmeeting in c.scmeetings">
      <td>${scmeeting.datetime.date()}</td>
      <td><a href="${h.url_for('scmeeting', scmeetingnumber=scmeeting.meetingnumber)}">${scmeeting.title}</a></td>
      <td>${scmeeting.minutes}</td>
    </tr>
  </table>
</div>

<div id="generalassembly">
  <h2>General Assembly</h2>
  <p><a href="${h.url_for('gasessions')}">Meetings by year</a> or <a href="${h.url_for('gacondolences')}">Condolences</a> | 
    <a href="${h.url_for('documentsall')}">All</a></p>
  <table>
    <tr><td colspan="3">Recent General Assembly Meetings (last few)${len(c.garecords)}</td></tr>
    <tr py:for="garecord in c.garecords">
      <td>${garecord.datetime.date()}</td>
      <td><a href="${h.url_for('gameeting', session=garecord.session, meeting=garecord.meetingnumber)}#${garecord.href}">${h.truncate(garecord.title, 50)}</a></td>
    </tr>
  </table>
</div>

<div id="wpblogincoming">
  <h2>Wikipedia referring articles</h2>
  <p py:for="incomingref in c.incomingrefs">
    <a href="${incomingref.referrer}">${incomingref.reftitle}</a> (${h.time_ago_in_words(incomingref.ltime)})
  </p>
  <p><a href="${h.url_for('incoming')}">more recently followed citations</a></p>
</div>

</div>

<h2>Tips for using this site</h2>
<p>There is a lot of information represented here, and it can be confusing.  It helps if you know what you are looking for!
  If you know the document code, you can enter it directly into the search box at the top of the page.</p>

<p>To get an idea of the sets of documents available here, take a look at President Bush 
  of the United States, or President A of Iran, as well as all the speeches that refer to 
  Resolution 242.</p>

</div>

<div id="footer">
  <a href="/about">About</a>
  | <a href="/contact">Contact</a>
  | <a href="/press">Press room</a>
  | <a href="/other">Other projects</a>
</div>

<xi:include href="layout.html" />
</html>

