
<div id="bigsearch">
<form action="/" method="get">
<input type="text" name="search">
<button>Search</button>
</form>
<a href="#aboutfooter">About us</a>&nbsp;&nbsp;&nbsp;
<a href="/nations">List of all nations</a>
</div>
<div id="content">
<div style="background-color:#f9b5b5; border: thin red solid; margin-top:0em; float:right; width:260px">Media: 
             <a href="http://www.guardian.co.uk/technology/2008/mar/13/internet.politics">Newspaper article 13 March</a>, 
             <a href="http://video.google.com/videoplay?docid=5811193931753907681&hl=en-GB">4 minute video presentation</a>,
             <a href="http://citizenreporter.org/2008/01/bm241-making-better-use-of-the-united-nations/">Podcast interview</a>.
             <br/>
             Notes on the <a href="http://www.freesteel.co.uk/wpblog/category/whipping/un/">creator's blog</a>.
             <br/>
             <b>New:</b> Links to <a href="http://www.undemocracy.com/generalassembly/webcastindex">webcasts</a>.</div>
<p style="margin-top:1em"><b>This website</b> gives easy access to the transcripts (since 1994) of 
             two of the five principal 
             <a href="http://en.wikipedia.org/wiki/United_Nations_System" title="Wikipedia article about the United Nations System"><b>United Nations bodies</b></a>.</p>  
             
             <p style="margin-top:0.5em">The 
             <a href="http://en.wikipedia.org/wiki/United_Nations#Security_Council" title="Wikipedia article describing the Security Council"><b>Security Council</b></a> 
             can authorize war and international sanctions.</p>

             <p style="margin-top:0.5em">The 
             <a href="http://en.wikipedia.org/wiki/United_Nations#General_Assembly" title="Wikipedia article describing the United Nations General Assembly"><b>General Assembly</b></a>
             directs the business of the United Nations and 
             recommends international treaties.
             
             <p style="margin-top:0.5em">Find out what <a href="/nations" title="List all nations and their ambassadors who speak"><b>your nation</b></a> 
             has been doing
             in this international forum.</p>
             
            <div style="width:200;  text-align:center; background-color:blue; color:white; border:thick black dashed; float:right">A proud member of the 
            <a href="http://en.wikipedia.org/wiki/Parliamentary_informatics" style="background-color:#cdffff">Parliamentary Informatics</a> web-ring</div>

             <p style="margin-top:1em; margin-bottom:0.5em"><b style="background:#b3f1d7;">The third column</b> lists 
             recent visits from Wikipedia readers.
             <i>This is the best place to start browsing, 
             because only some of documents are very interesting and you are unlikely to get lucky
             if you click at random.</i></p>
<p style="margin-botton:1em"><b>Note</b>: While Security Council meetings are on-line within 
             hours, General Assembly transcripts go on-line three months after
             the meeting (although the videos are up immediately).  The start of the 63rd 
             session is <a href="http://www.un.org/ga/63/meetings63.shtml"><b>here</b></a>.</p>
<div id="sectors">
<div id="securitycouncil">
<h2>Security Council</h2>
<p><a href="/securitycouncil" title="Comprehensive list of meetings by date according to agenda item">Meetings by topic</a></p>
<p><a href="/securitycouncil/documents" title="Table of documents of the Security Council by year">All documents</a></p>
<h3>Recent meetings</h3>
<ul class="cslist">
<li>2000-01-10 <a href="/securitycouncil/meeting_4087">AIDS</a></li>
<li>2000-01-10 <a href="/securitycouncil/meeting_4087-Resu.1">AIDS</a></li>
<li>2000-07-17 <a href="/securitycouncil/meeting_4172">AIDS</a> (vote)</li>
<li>2001-01-19 <a href="/securitycouncil/meeting_4259">AIDS</a></li>
<li>2001-01-19 <a href="/securitycouncil/meeting_4259-Resu.1">AIDS</a></li>
<li>2001-06-28 <a href="/securitycouncil/meeting_4339">AIDS</a></li>
<li>2003-11-17 <a href="/securitycouncil/meeting_4859">AIDS</a></li>
<li>2005-07-18 <a href="/securitycouncil/meeting_5228">AIDS</a></li>
<li>1994-11-29 <a href="/securitycouncil/meeting_3468">Admission of new Members</a></li>
<li>1994-11-29 <a href="/securitycouncil/meeting_3469">Admission of new Members</a></li>
<li>1999-05-04 <a href="/securitycouncil/meeting_3995">Admission of new Members</a></li>
<li>1999-05-04 <a href="/securitycouncil/meeting_3996">Admission of new Members</a></li>
</ul>
</div>
<div id="generalassembly">
<h2>General Assembly</h2>
<p><a href="/generalassembly" title="Table of sessions which link to comprehensive lists of agenda items">Meetings by topic</a></p>
<p><a href="/generalassembly/documents" title="All documents of the General Assembly">All documents</a></p>
<h3>Recent meetings</h3>
<ul class="cslist">
</ul>
</div>
<div id="wpblogincoming">
<h2>Wikipedia referring articles</h2>
<p><a href="/incoming" title="Wikipedia articles which link to documents available on this website">All incoming citations</a></p>
<p><i>(<a href="http://en.wikipedia.org/wiki/Portal:United_Nations" title="Wikipedia project: United Nations Portal">Portal:United Nations</a>)</i></p>
<h3>Recently followed citations</h3>
<ul class="cslist">
</ul>
<p><a href="/incoming" title="Wikipedia articles which link to documents available on this website">more...</a></p>
</div>
<div id="aboutfooter">

    <h2>Information</h2>
    <p><b>This site</b> has nothing to do with the <b><a href="http://www.un.org/english">real UN website</a></b> 
    or any part of the United Nations itself.  It has been supported by no organization. 
    It is merely a citizens' attempt to provide Web 2.0 compliant access to 
    many of the important official UN documents 
    (eg <a href="http://en.wikipedia.org/wiki/United_Nations_Security_Council">Security Council Resolutions</a> 
    and <a href="http://en.wikipedia.org/wiki/United_Nations_General_Assembly">General Assembly votes</a>)
    which feature in the news.</p>

    <p><b>For</b> background information about the UN and its structure, as well as the meaning and purpose of these documents, 
    check out <a href="http://en.wikipedia.org/wiki/United_Nations">United Nations on Wikipedia</a>
    and read the related articles.  
    Why not help to <a href="http://en.wikipedia.org/wiki/Wikipedia:WikiProject_United_Nations">improve them</a>?</p>
    
    <p><b>For</b> a quick tour of the sets of documents that are available here, look at
    <a href="http://www.undemocracy.com/United_States/bush">President Bush</a> of
    <a href="http://www.undemocracy.com/United_States">The United States</a>, or
    <a href="http://www.undemocracy.com/Iran/ahmadinejad">President Ahmadinejad</a> of
    <a href="http://www.undemocracy.com/Iran">Iran</a>, as well as
    <a href="http://www.undemocracy.com/S-RES-242(1967)">all speeches</a>
    that refer to <a href="http://en.wikipedia.org/wiki/United_Nations_Security_Council_Resolution_242">Resolution 242</a>.</p>

    <p><b>Questions</b> about this website in particular are answered by:
    <a href="http://www.publicwhip.org.uk/faq.php#organisation">Who?</a>
    <a href="http://en.wikipedia.org/wiki/United_Nations_Document_Codes">What?</a>
    <a href="http://www.freesteel.co.uk/wpblog/category/whipping/un/">When?</a>
    <a href="http://www.freesteel.co.uk/wpblog/">Where?</a>
    <a href="http://www.freesteel.co.uk/wpblog/2007/09/the-purpose-of-the-undemocracycom-site/"><b>Why?</b></a>
    <a href="http://www.freesteel.co.uk/wpblog/2007/09/how-does-undemocracycom-work/">How?</a>, and finally
    <a href="http://www.freesteel.co.uk/wpblog/2007/09/undemocracy-needs-your-help/">What can I do to help?</a>.</p>
    
    <p><b>You</b> can leave comments on some of those links, or email <a href="mailto:team@undemocracy.com">team@undemocracy.com</a>.
    Don't be shy.  
    This project is a hobby begun by volunteers who recognized that the accessibility of these vital documents 
    was so limited they had to do something about it themselves, since there was no evidence it was 
    going to happen by itself.</p>
</div>
</div>
