<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  
<py:def function="page_title">Nation page for ${c.nation.name}</py:def>

<div py:match="content">

<h1>Nation page for ${c.nation.name}</h1>
${c.message}

<img class="nationpageflag" src="${h.url_for('flagof', entity=c.nation.name.replace(' ', '_').replace('\'', ''))}"/>
<table class="nationstats">
  <tr>
    <td>Member since:</td>
    <td>${c.nation.started}</td>
  </tr>
  <tr py:if="c.nation.url">
    <td>Webpage at UN:</td>
    <td><a href="${c.nation.url}">${c.nation.url}</a></td>
  </tr>
  <tr>
    <td>Wikipedia page:</td>
    <td><a href="http://en.wikipedia.org/wiki/${c.nation.wpname}">${c.nation.wpname}</a></td>
  </tr>
  <tr>
    <td>Continent block:</td>
    <td>${c.nation.countrycontinent}</td>
  </tr>
  <tr>
    <td>Speeches on record</td>
    <td>${c.totalspeechcount}</td>
  </tr>
  <tr>
    <td>Votes on record</td>
    <td>${c.totalvotecount}</td>
  </tr>
  <tr>
    <td>Most recent vote</td>
    <td>${c.lastvotedate}</td>
  </tr>
  <tr>
    <td>Security Council membership</td>
    <td>${c.securitycouncimembership}</td>
  </tr>
</table>

<h2 style="clear:both">Minority votes in the General Assembly</h2>
<p>Link to <a href="${h.url_for('votesnation', snation=c.nation.sname)}">all votes</a>.</p>

<p>Sometimes these votes highlight an issue where there is a difference from the majority of the international community.</p>

<p><b>${c.nation.name}...</b></p>
<table class="minorityvote">
  <tr py:for="vote in c.gavotes">

    <td py:choose="" class="col1">
      <py:when test="vote.vote == 'favour'">voted with ${vote.division.favour-1} other nations <b>in favour</b> of </py:when>
      <py:when test="vote.vote == 'against'">voted with ${vote.division.against-1} other nations <b>against</b></py:when>
      <py:when test="vote.vote == 'abstain'">voted with ${vote.division.abstain-1} other nations to <b>abstain</b> on</py:when>
      <py:when test="vote.vote == 'absent'">was <b>absent</b> with ${vote.division.absent-1} other nations for</py:when>
      <py:otherwise>JUNK ${vote.vote}</py:otherwise>
    </td>

    <td class="col3"><a href="${h.url_for_doc(vote.division.docid)}#${vote.division.href}">${vote.division.description}</a></td>
    <td>${h.truncateN(vote.division.meeting.title, 50)}</td>
    <td class="col2"><i py:if="vote.division.document">${vote.division.document.date}</i></td>
  </tr>
</table>

<py:if test="c.scvotes">
<h2>Minority votes in the Security Council</h2>

<p><b>${c.nation.name}...</b></p>
<table class="minorityvote">
  <tr py:for="vote in c.scvotes">

    <td py:choose="" class="col1">
      <py:when test="vote.vote == 'favour'">voted with ${vote.division.favour-1} other nations <b>in favour</b> of </py:when>
      <py:when test="vote.vote == 'against'">voted with ${vote.division.against-1} other nations <b>against</b></py:when>
      <py:when test="vote.vote == 'abstain'">voted with ${vote.division.abstain-1} other nations to <b>abstain</b> on</py:when>
      <py:when test="vote.vote == 'absent'">was <b>absent</b> with ${vote.division.absent-1} other nations for</py:when>
      <py:otherwise>JUNK ${vote.vote}</py:otherwise>
    </td>

    <td class="col3"><a href="${h.url_for_doc(vote.division.docid)}#${vote.division.href}">${vote.division.meeting.title}</a></td>
    <td class="col2"><i py:if="vote.division.document">${vote.division.document.date}</i></td>
  </tr>
</table>
</py:if>

<h2>List of ambassadors who have spoken for ${c.nation.name}</h2>
<p>Link to <a href="${h.url_for('nationambassador', snation=c.nation.sname, sambassador='all')}">all</a></p>
<table class="nationambassadortable" style="background-color:lightgray;">
  <tr><th>Speaker last name</th><th>number of speeches</th><th>first date</th><th>last date</th></tr>
  <tr py:for="ambassador in c.nation.ambassadors">
    <td><a href="${h.url_for('nationambassador', snation=c.nation.sname, sambassador=ambassador.lastname)}">${ambassador.lastname}</a></td>
    <td>${len(ambassador.speeches)}</td>
    <td>${min([speech.document.date  for speech in ambassador.speeches])}</td>
    <td>${max([speech.document.date  for speech in ambassador.speeches])}</td>
  </tr>
</table>

</div>

<xi:include href="layout.html" />
</html>

