<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  
<py:def function="page_title">List of nations</py:def>

<div py:match="content">

<h1>List of all member nations</h1>

<table>
<tr>
<td style="vertical-align:top" py:for="j in range(c.ncols)">
  <table>
  <tr py:for="nation in c.nations[j * c.colleng : (j + 1) * c.colleng]">
    <td class="smallflag_sca"><a href="${h.url_for('nation', snation=nation.sname)}">
      <img class="smallflag_lis" src="${h.url_for('flagof', entity=nation.name.replace(' ', '_').replace('\'', ''))}"/></a>
    </td>
    <td><a href="${h.url_for('nation', snation=nation.sname)}">${nation.name}</a></td>
  </tr>
  </table>
</td>
</tr>
</table>

<h1>List of defunct nations</h1>
<table>
<tr py:for="nation in c.defunctnations">
  <td class="smallflag_sca"><a href="${h.url_for('nation', snation=nation.sname)}">
    <img class="smallflag_lis" src="${h.url_for('flagof', entity=nation.name.replace(' ', '_').replace('\'', ''))}"/></a>
  </td>
  <td><a href="${h.url_for('nation', snation=nation.sname)}">${nation.name}</a></td>
  <td>${nation.started} - ${nation.finished}</td>
  <td>Successor state</td>
</tr>
</table>

<h1>List of non-nations</h1>
<table>
<tr py:for="nonnation in c.nonnations">
  <td><a href="${h.url_for('nation', snation=nonnation.sname)}">${nonnation.name}</a></td>
  <td>${len(nonnation.speeches)}</td>
  <td py:with="speech=max(nonnation.speeches)"><a href="${h.url_for_doc(speech.docid)}#${speech.href}">${speech.docid}</a></td>
</tr>
</table>

</div>

<xi:include href="layout.html" />
</html>

