<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      >

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>${page_title()}</title>
<link href="/publicwhip.css" type="text/css" rel="stylesheet" media="all" />

<script language="JavaScript" type="text/javascript" src="/jquery-1.3.2.js"></script>
</head>

<body id="front">

<div id="identity">
  <h1>Public Whip Pylons</h1>
</div>

<div id="content">
<content>
  <p>Master content template placeholder &hellip; please replace me.</p>
</content>
</div>

</body>
</html>

