<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  
<py:def function="page_title">List of mps</py:def>

<div py:match="content">

<div id="publicwhip">

<div id="identity">
  <h1>All MPs for ${c.termfrom} - ${c.termto}</h1>
</div>

<p>Terms: <py:for each="term in ['1997', '2001', '2005']"><a href="${h.url_for('members', term=term)}">${term}</a> </py:for></p>

<table py:with="rowcls=h.itertools.cycle(('bright', 'dark'))">
<tr py:for="person in c.persons" py:with="currentseat=person.seats[-1]" class="${rowcls.next()}">
  <td><a href="${h.url_for('member', sname=person.sname)}">${person.name}</a></td>
  <td py:if="currentseat.house == 'PWcommons'">${currentseat.constituency.name}</td>
  <td py:if="currentseat.house == 'PWlords'"><i>Lord</i></td>
  <td>${currentseat.pwparty}</td>
  <td>${currentseat.started} - ${currentseat.finished}</td>
</tr>
</table>

</div>

</div>

<xi:include href="pwlayout.html" />
</html>

