<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  
<py:def function="page_title">Nation page for ${c.nation.name}</py:def>

<div py:match="content">

<h1>Votes by nation ${c.nation.name}</h1>

<p>Link back to <a href="${h.url_for('nation', snation=c.nation.sname)}">${c.nation.name}</a>.</p> 


<table class="minorityvote">
  <tr py:for="vote in c.nation.votes">
    <td>${vote.division.document.date}</td>
    <td><a href="${h.url_for_doc(vote.division.docid)}#${vote.division.href}">${h.truncateN(vote.division.description, 50)}</a></td>
    <td>${h.truncateN(vote.division.meeting.title, 50)}</td>
    <td class="favour">${vote.division.favour}</td>
    <td class="abstain">${vote.division.abstain}</td>
    <td class="absent">${vote.division.absent}</td>
    <td class="against">${vote.division.against}</td>
    <td class="${vote.vote}">${vote.vote}</td>
  </tr>
</table>


</div>

<xi:include href="layout.html" />
</html>

