#content {
font-family: Verdana, "Bitstream Vera Sans", Geneva, "Lucida Grande", sans-serif;
font-size:0.9em;
line-height:1.5em;
}

div.italicline
{
	text-decoration: italic;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}

div.italicline-tookchair
{
	text-decoration: italic;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}

div.boldline
{
	padding-left:10px;
	font-weight: bold;
	text-align: center;
	color: purple;
	line-height:2em;
}
div.recvote
{
	color: blue;
	border: thin black solid
}
div.motiontext
{
	font-weight: bold;
}

h3.speaker
{

    margin:0;
	float:left;
	width:110px;
	font-size:0.7em;
}

h3.speaker span {
	font-weight: bold;
	display:block;
	font-size:1.3em;	
}

div.spokentext
{
	padding-left:140px;
	padding-bottom:10px;
}
div.p
{
	padding-left:100px;
	padding-bottom:20px;
	line-height:1.5em;
}
blockquote
{
	padding-left:120px;
	padding-bottom:10px;
    font-style:italic;
}
.votecount
{
    display:none;
}

a.nolink
{
	color:gray;
}

.odd, .even {
  background-image: url('../../../../themes/undemocracy/images/gradient-inner.png');
  background-repeat: repeat-x;
  border: 1px solid #d9eaf5;
  margin:10px;
  padding:5px;
  overflow:auto;
}

.odd p, .even p {
	margin:0 10px 1.2em 120px;
}

.votelist {
	font-size: 10px;
    line-height:1em;
}

