
body
{
	width:800px;
}
td.maincol
{
    width:600px;
}
td.sidecol
{
    width:200px;
    background-color:#e0e0e0;
}


div.italicline, 
div.italicline-tookchair,
div.italicline-spokein
{
 	font-style: italic;
 	color: green;
	text-align: center;
    background-color: #cefece;
    margin-top:5;
    margin-bottom:5;
    clear:both;
}

div.subheading, div.council-agenda
{
	padding-left:0px;
	font-weight: bold;
	text-align: center;
	color: purple;
    background-color: #feeeee;
    margin-bottom:0;
    border: thin #fecdcd solid;
}
div.subheading
{
    margin-top:80;
}
p
{
    margin-bottom:0;
}
img.smallflag
{
    border: thin black solid;
    float: left; 
    clear: left;
    margin-right:3px;
    margin-bottom:3px;
}
img.smallflag_sca
{
    border: thin black solid;
    width:50;
}
img.nationpageflag
{
    border: thick black solid;
    float: right;
    width: 300;
}
div.recvote
{
	border: thin black solid;
    margin-top: 0; 
    margin-bottom: 2;
    margin-left: 0;
    clear:both;
}

h3.speaker
{
	font-weight: bold;
    margin:0px;
}
span.nation
{
 	font-style: italic;
	font-size: 80%;
	color:green;
}
span.non-nation
{
 	font-style: italic;
	font-size: 80%;
	color:blue;
}
a.nation
{
}

span.language
{
 	font-style: italic;
	font-size: 80%;
	color:purple;
}
div.spoken
{
	margin-top:3px;
    margin-bottom:3px;
    clear:both;
}
a.pdf
{
	color:green;
}
a.highlight
{
    background-color:#ffffbb;
}
a.aggroup
{
    font-weight:bold;
}
p
{
	padding-left:10px;
}
div.blockquote
{
	padding-left:30px;
}

p.votecount
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display:none;
}
p.motiontext
{
	font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.votelist
{
	font-size: 11;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left:5;
    color:blue;
}
div.council-attendees
{
	text-align: right;
	font-size: 12
}
div.cdocattr
{
    display:none;
    margin:0;
    background-color:red;
}
div.assembly-chairs
{
	text-align: left;
	font-size: 20;
    background-color: #4000ee;
    color: #ffffff;
    margin-top:0;
    padding:5;
}
table.prevnextmeeting
{
    background-color: #b0cc99;
    padding:4;
    color: #020202;
    font-size:18;
}
table.prevnextmeeting td
{
    width:33%;
}
a.nolink
{
	color:gray;
}

span.absent-against,
span.against,
span.againstul
{
	color:red;
}
span.absent-favour,
span.favour,
span.favourul
{
	color:green;
}
span.abstain,
span.abstainul
{
	color:purple;
}
span.absent,
span.absentul
{
	color:gray;
}

span.absentul,
span.abstainul,
span.favourul,
span.againstul
{
    border:thin solid black;
}

div.unclickedlink 
{
    background-color:#cccccc;  
    color: #660000;  
    cursor: pointer; 
    margin-left: 5; 
    float: right; 
    clear: right;
    font-size: 16;
    font-weight: normal;
    text-decoration: underline;
}

div.clickedlink 
{
    font-size:16;
    font-weight: normal;
    background-color:#bbbbff;  
    margin-left: 10; 
    margin-bottom: 10; 
    width: 200; 
    float: right; 
    clear: right; 
}
input.linkinputbox 
{
    color: #ff0000; 
    width: 80%; 
}
.linktr 
{ 
    width: 100%; 
}
div.closebutt 
{
    font-size:20;
    border: thin black solid; 
    float: right; 
    cursor: pointer;
    background-color:#aaaaee;
    padding-left:2;
    padding-right:2;
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
}
table.votekey
{
    float: left;
    clear: left; 
    background-color: #e0e0ff;
    margin-right:5;
    font-size:14;
    cursor:pointer;
}
div.otheraglink
{
    float: left;
    background-color: #f0d4d4;
    text-align: left;
}

div.spoken 
{
    background-color:#eeeefe; 
}
h3.speaker
{
    background-color:#ddddfe;
}

h1.tophead
{
    background-color:#0000ff;
    color:#ffffff;
    text-align: center;
    font-size:50;
    padding:20;
    margin-bottom:0;
    text-decoration:none;
}
h1.topheadspec
{
    background-color:#0000df;
    color:#ffffff;
    margin-top:0;
    margin-bottom:0;
    font-size:25;
    text-align: center;
    padding-top:10;
    padding-bottom:10;
}
div.pdfpagediv
{
    float:left;
    border: 3px black solid;
}
table.doccounttable
{
    background-color:#8fbfcf;
}
tr.gadocs
{
    background-color:#bebeff;
}
tr.scdocs
{
    background-color:#ffbebe;
}

