div.italicline
{
	text-decoration: italic;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}

div.italicline-tookchair
{
	text-decoration: italic;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}

div.boldline
{
	padding-left:10px;
	font-weight: bold;
	text-align: center;
	color: purple;
	line-height:2em;
}
div.recvote
{
	color: blue;
	border: thin black solid
}
div.motiontext
{
	font-weight: bold;
}

span.speaker
{
	font-weight: bold;
	padding-top:10px;
}
div.spokentext
{
	padding-left:10px;
	padding-bottom:10px;
}
a.pdf
{
	color:green;
}
p
{
	padding-left:10px;
}
div.blockquote
{
	padding-left:30px;
}
div.votecount
{
	font-size: 6
}
div.votelist
{
	font-size: 6
}

a.nolink
{
	color:gray;
}

