
body
{
	width:600px;
}
div.italicline
{
 	font-style: italic;
 	color: green;
	text-align: center;
	padding-bottom: 10px;
}

div.italicline-tookchair
{
 	font-style: italic;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}
div.italicline-spokein
{
 	font-style: italic;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}

div.boldline
{
	padding-left:10px;
	font-weight: bold;
	text-align: center;
	color: purple;
	line-height:2em;
}
div.boldline-agenda
{
	padding-left:10px;
	font-weight: bold;
	text-align: right;
	color: purple;
}

div.recvote
{
	color: blue;
	border: thin black solid
}

h3.speaker
{
	font-weight: bold;
	padding-top:10px;
}
span.nation
{
 	font-style: italic;
	font-size: 80%;
	color:green;
}
span.non-nation
{
 	font-style: italic;
	font-size: 80%;
	color:blue;
}
span.language
{
 	font-style: italic;
	font-size: 80%;
	color:purple;
}
div.spokentext
{
	padding-left:10px;
	padding-bottom:10px;
}
a.pdf
{
	color:green;
}
p
{
	padding-left:10px;
}
div.blockquote
{
	padding-left:30px;
}

p.votecount
{
    margin-top: 0px;
    margin-bottom: 0px;
}
p.motiontext
{
	font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.votelist
{
	font-size: 8;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.council-attendees
{
	text-align: right;
	font-size: 12
}
div.heading
{
	font-size: 40
}
div.assembly-chairs
{
	text-align: right;
	font-size: 12
}
a.nolink
{
	color:gray;
}

